# The application name, used by Lumen.
APP_NAME=Material list

# Application key. The output of `openssl rand -base64 24` is a good choice.
APP_KEY=

# The current environment. Should be "production" in production.
APP_ENV=local

# Enable debugging. Normally exceptions cause an uninformative "500
# Internal error" response, but in debugging mode it'll include the
# exception message.
APP_DEBUG=true

# Set the token checker. Use "test" for a checkr that will just use
# token as user GUID, any other value will use the OAuth provider.
APP_TOKENCHECKER=test

# Logging configuration. See the Lumen documentation for more info.q
LOG_CHANNEL=stack

# Database connection information. Mysql example:
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret
# Or sqlite:
# DB_CONNECTION=sqlite
# DB_DATABASE=/tmp/db.sqlite

# Unused configuration options
# These af default Lumen configuration options which are not used at the moment.
# They are kept around for reference.

# Application URL.
APP_URL=http://localhost

# Application Timezone.
APP_TIMEZONE=UTC

# Lumen cache and queue connection.
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
