services:
  app:
    depends_on:
    - db
    build:
      args:
        user: www
        uid: 1000
      context: ./
      dockerfile: development/Dockerfile
    container_name: laravel-app
    working_dir: /var/www/
    volumes:
      - projectroot:/var/www
      - ./development/php/local.ini:/usr/local/etc/php/conf.d/local.ini
      - ~/.composer/auth.json:/home/www-data/.composer/auth.json

  db:
    image: mysql:5.7
    container_name: laravel-db
    environment:
      MYSQL_DATABASE: ${DB_DATABASE:-database}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-rootpass}
      MYSQL_PASSWORD: ${DB_PASSWORD:-password}
      MYSQL_USER: ${DB_USERNAME:-larovel}
    volumes:
      - ./development/mysql/docker-entrypoint-initdb.d/:/docker-entrypoint-initdb.d/

  nginx:
    image: nginxinc/nginx-unprivileged:alpine
    container_name: laravel-nginx
    environment:
      VIRTUAL_HOST: ${COMPOSE_PROJECT_NAME}.${DEV_TLD:-docker}
    volumes:
      - projectroot:/var/www
      - ./development/nginx/conf.d/:/etc/nginx/conf.d/

volumes:
  projectroot:
    driver: local
    driver_opts:
      type: none
      device: ${PWD}
      o: bind
