includes:
	- phpstan-baseline.neon

parameters:
    level: max
    paths:
        - app
        - bootstrap
        - tests
        - routes
    ignoreErrors:
        -
            message: '#Variable \$router might not be defined\.#'
            path: 'routes/web.php'
