parameters:
    level: max
    excludes_analyse:
        - vendor
        - database/migrations
    ignoreErrors:
        -
            message: '#Undefined variable: \$router#'
            path: 'routes/web.php'
        -
            message: '#no value type specified in iterable type Behat\\Gherkin\\Node\\TableNode#'
            path: 'tests/*'
