on: pull_request
name: Code style review
jobs:
  review_codestyle:
    name: Codestyle
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup PHP, with composer and extensions
      uses: shivammathur/setup-php@master
      with:
        php-version: 8.2
        tools: composer:v2
        coverage: none
    - name: Install Dependencies
      run: |
        composer install
    - name: Check codestyle
      run: |
        vendor/bin/phpcs

  static_code_analysis:
    name: Static Code Analysis
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup PHP, with composer and extensions
      uses: shivammathur/setup-php@master
      with:
        php-version: 8.2
        tools: composer:v2
        coverage: none
    - name: Install Dependencies
      run: |
        composer install
    - name: Static code analysis
      run: |
        php -d memory_limit=1G vendor/bin/phpstan
