on: push
name: Build, test, and deploy

permissions:
  # To give Codecov permission to use the OIDC token.
  id-token: write

jobs:
  unit_tests:
    name: Unit tests
    if: "!github.event.deleted"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@master
        with:
          php-version: 8.2
          tools: composer:v2
      - name: Install Dependencies
        run: |
          composer install
      - name: Create Database
        run: |
          php artisan --no-interaction migrate:fresh
      - name: Unit tests
        run: ./vendor/bin/phpunit --coverage-clover=coverage/unit.xml
      - name: Report coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: coverage/unit.xml
          flags: Unit
          use_oidc: true

  behaviour_tests:
    name: Behaviour tests
    if: "!github.event.deleted"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@master
        with:
          php-version: 8.2
          tools: composer:v2
      - name: Install Dependencies
        run: |
          composer install
      - name: Behaviour tests
        run: |
          ./vendor/bin/behat
      - name: Behaviour test coverage
        run: |
          ./vendor/bin/phpcov merge --clover=coverage/behat.xml coverage/
      - name: Report coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: coverage/behat.xml
          flags: Behaviour
          use_oidc: true

  specification_lint:
    name: Specification linting
    if: "!github.event.deleted"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Lint specification
        uses: docker://wework/speccy
        with:
          args: lint material-list.yaml

  specification_tests:
    name: Specification tests
    if: "!github.event.deleted"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@master
        with:
          php-version: 8.2
          tools: composer:v2
      - name: Install Dependencies
        run: |
          composer install
      - name: Install Dredd
        run: |
          npm install dredd@12 --no-optional
      - name: Specification tests
        run: |
          node_modules/.bin/dredd --loglevel=error
env:
  ADGANGSPLATFORMEN_DRIVER: testing
  DB_CONNECTION: sqlite
  DB_DATABASE: /tmp/db.sqlite
  CACHE_DRIVER: array
  SESSION_DRIVER: array
  QUEUE_DRIVER: sync
  APP_ENV: testing
